.quotesMainContainer{
    background: var(--sweetPink);
    display: grid;
    height: 120vh;
}

.whiteSugarHeart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    font-size: 4rem;
}

#whiteSweetQuote{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    font-size: 6rem;
    color: var(--whiteSnow);
    text-indent: .5rem;
    letter-spacing: 0.1rem;
}