.sweetOffersMainContainer{
    display: grid;
    background: var(--sweetPink);
    padding-bottom: 2rem;
}

.sweetOffersMainContainer h1{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    font-size: 4rem;
    letter-spacing: 5px;
    word-spacing: 20px;
}

.offersTable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offersTable, .offersTableHeaders{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.offersContainerBorder{
    border: 2px solid var(--darkBlack);
    margin: .5rem;
}

.offersContainerBorder h1{
    font-size: 3rem;
    padding: 1.5rem;
}

.offersContainerBorder .whiteSugarHeart{
    padding: 1rem;
}