.sweetOptionsMainContainer {
  display: grid;
  align-items: center;
  justify-content: center;
}
.sweetOptionsMainContainer .sweetOptionsTable{
  height: 10%;
}

.sweetOptionsMainContainer {
  height: 0;
}

.sweetOptionsMainContainer h1 {
  color: var(--sweetPink);
  font-size: 4rem;
  padding: 0.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 0;
}

.sweetOptionsTable {
  display: flex;
}

.sweetOptionsTable th {
  border-top-style: none;
  border-top-width: none;
}

.sweetImage {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 0%;
}

.sweetImage tr img {
  border: 2px solid var(--darkBlack);
  object-fit: fill;
  border-radius: 35%;
  width: 480px;
  height: 480px;
  filter: brightness(82%);
}

.sweetImageDetails {
  display: block;
  position: relative;
  top: 240px;
  z-index: 1;
  font-size: 2rem;
  margin: 0;
  color: var(--whiteSnow);
}

.sweetImageDetails,
h2,
p {
  margin: 0;
}

.sweetImageDetails p {
  font-size: 1.5rem;
}
