.FooterMainContainer {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  /* background footer image */
  background: url("../../Visuals/backgrounds/Sweet_Footer.jpg") no-repeat center center;
  background-size: cover;
}

.FooterContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sweetsxb_logo_footer {
  width: 20vw;
  max-width: 180x;
  height: auto;
  border-radius: 50%;
  border: 3px solid var(--sweetPink);
  background-color: var(--whiteSnow);
  overflow: hidden;
  filter: brightness(1.05) contrast(1.02) opacity(0.97);
}

/* Small Tablets (≥ 481px) */
@media (min-width: 481px) {
  .FooterMainContainer {
    min-height: 180px;
    padding: 15px;
  }

  #sweetsxb_logo_footer {
    width: 50vw;
    max-width: 200px;
  }
}

/* Larger Tablets & Small Laptops (≥ 769px) */
@media (min-width: 769px) {
  .FooterMainContainer {
    min-height: 190px;
  }

  #sweetsxb_logo_footer {
    width: 25vw;
    max-width: 220px;
  }
}

/* Desktop (≥ 1025px) */
@media (min-width: 1025px) {
  .FooterMainContainer {
    min-height: 220px;
  }

  #sweetsxb_logo_footer {
    width: 20vw;
    max-width: 250px;
  }
}
