:root {
  font-family: "Italianno", cursive;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
 --sweetPink: #F8C1BD;
 --whiteSnow: #ffffff;
 --darkBlack: #010101;
 --redLipStick: #96221E;
}

.mainContainer{
  display: block;
}